global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: "redis-enterprise"
    static_configs:
      - targets: ["redis-enterprise:8070"]
    scheme: https
    tls_config:
      insecure_skip_verify: true

remote_write:
  - url: https://${OBSERVE_TENANT_ID}.collect.observeinc.com/v1/prometheus
    bearer_token: ${OBSERVE_API_TOKEN}
    remote_timeout: "30s"
    queue_config:
      max_shards: 10
      max_samples_per_send: 1000
      capacity: 5000